<form class="box" action="/station/{{station._id}}/addreading" method="POST" style="font-family: 'Roboto'; padding-top: 20px;">
  <label class="has-text-weight-semibold">Enter New Readings:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="number" placeholder="Weather Code" name="code">
      </div>
     <div class="field">
        <input class="input" type="text" placeholder="Temp" name="temp" inputmode="decimal">
        <div class="select">
        </div>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Windspeed km/ph" name="windspeed" inputmode="decimal">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Wind Direction" name="winddirection" inputmode="decimal">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
      </div>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-success has-text-white" style="background-color: #008000;">Add Reading</button>
    </div>
  </div>

</form>
