<form action="/dashboard/addstation" method="POST" style="margin-top: 60px;">
  <div class="field">
    <input class="input has-text-family-roboto" type="text" placeholder="Enter new station name here" name="title" style="text-transform: uppercase;">
  </div>
  <button class="button is-link has-text-family-roboto" 
          style="background-color: #008000; color: #FFFFFF;" 
          type="submit">Add Station</button>
</form>