<form action="/dashboard/addstation" method="POST" style="margin-top: 60px;">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Enter New Station:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Station Name" name="title">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Latitude ° W" name="latitude" inputmode="decimal">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Longitude ° N" name="longitude" inputmode="decimal">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" style="background-color: #008000; color: #FFFFFF;" type="submit">Add Station</button>
        </div>
      </div>
    </div>
  </div>
</form>
