<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">

<section class="section">
  <div class="title p-3 is-flex align-center">
    {{>icons/logo}}
    <div class="ml-4 custom-title has-text-family-roboto align-bottom">AIMSIR</div>
  </div>
</section>

<style>
  .align-bottom {
    align-items: flex-end; 
  }
  .custom-title {
    font-size: 120px;
  }
  .has-text-family-roboto{
    font-family: 'Roboto';
  }
</style>
