<section class="section has-text-family-roboto">
  <nav class="navbar mb-6">
    <div class="navbar-brand">
      {{> brand}}
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a id="dashboard" class="button has-text-family-roboto" href="/dashboard" style="background-color: #008000; color: #FFFFFF;">DASHBOARD</a>
            <a id="about" class="button has-text-family-roboto" href="/about" style="background-color: #008000; color: #FFFFFF;">ABOUT</a>
            <a id="logout" class="button has-text-family-roboto" href="/logout" style="background-color: #008000; color: #FFFFFF;"> Logout </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>

<style>
  .section {
    padding-top: 2rem; 
    padding-bottom: 0rem; 
  }

  .navbar {
    padding: 0rem; 
  }
  .active-link {
    background-color: black !important; 
    color: #FFFFFF !important; 
    border: 5px solid black; 
  }
</style>


<script>
  document.getElementById("{{active}}").classList.add("active-link");
</script>

