{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather App 
  </h3>
  <div class="section">
    <p>
      Laura's Weather App in Javascript - Version 1
    </p>
  </div>
</section>